@import 'couleur';

.fa-heart {
    position: absolute;
}
.coeur-remplis {
    opacity: 0;
    transition: 1s;
}

.coeur-remplis:hover {
    opacity: 1;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    ;

}