$grisicone: rgba(53, 53, 53, 1);
$grisclair:rgba(234, 234, 234, 1);
$vertclair:rgba(153, 226, 208, 1);
$vertfoncer:rgba(0, 135, 102, 1);
$bleuclair:rgba(137, 200, 250, 1);
$bleufoncer:rgba(0, 58, 104, 1);
$violet:rgba(147, 86, 220, 1);
$rose:rgb(255, 121, 218);
$grisblanc:rgb(246, 246, 246);
$blanc:rgb(255, 255, 255);
$bggris:rgba(53, 53, 53, 1);
$grisgris:rgba(126, 126, 126, 1);
$noir:rgb(0, 0, 0);

