@import 'mixins';

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 63px;
    position: relative;
    z-index: 1;

    @include ombre_header;
    
    &__img{
        width: 162px;
        height: 30px;

    }
}

body {
    margin: 0;
}


/* Media queries*/
/* ecran égal ou plus grand que 1024px */
@media (min-width: 1024px) {
    .header {
        box-shadow: none;
        
    }
}