@mixin ombre_header{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

@mixin ombre_presentation {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin ombre_button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);
}

@mixin ombre_plat { 
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
}
